In [1]:
import os 
import cv2
import numpy as np
import pandas as pd

from functions import load,resize,show,grey,masking,selector,files_loader

In [2]:
files = files_loader("d:/project data/train 2")

In [3]:
outputs = pd.read_csv("d:/project data/trainLabels.csv")

In [4]:
test_values = selector(files,outputs)

In [7]:
test_values

             image  level
10         19_left      0
11        19_right      0
12         20_left      0
13        20_right      0
14         21_left      0
...            ...    ...
23055  29114_right      2
23056   29117_left      0
23057  29117_right      0
23058   29126_left      2
23059  29126_right      2

[8394 rows x 2 columns]